In [1]:
import pandas as pd

In [2]:
revenues = pd.Series([111, 222, 333])
revenues

0    111
1    222
2    333
dtype: int64

In [4]:
revenues.values

array([111, 222, 333])

In [5]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
city_revenues = pd.Series([111, 222, 333],
                          index=['HCM', 'HN', 'DN'])
city_revenues

HCM    111
HN     222
DN     333
dtype: int64

In [8]:
city_revenues['HCM']

111

In [9]:
city_employee_count_data = {'HN': 10, 'HCM': 20}
city_employee_count = pd.Series(city_employee_count_data)
city_employee_count

HN     10
HCM    20
dtype: int64

In [10]:
'HCM' in city_employee_count

True

In [11]:
city_data = pd.DataFrame({
    'revenue': city_revenues,
    'employee_count': city_employee_count
})
city_data

     revenue  employee_count
DN       333             NaN
HCM      111            20.0
HN       222            10.0

In [12]:
city_data.axes

[Index(['DN', 'HCM', 'HN'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]