<hr style="border:5px solid #108999"> </hr>

## Importing Data with the pandas' "Squeeze" Method <hr style="border:4.5px solid #108999"> </hr>

In [1]:
import pandas as pd

In [2]:
my_df = pd.read_csv('Lending-company.csv')
my_df.head()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [3]:
type(my_df)

pandas.core.frame.DataFrame

In [4]:
df_usecols = pd.read_csv('Lending-company.csv', usecols = ['Product'])
df_usecols.head()

     Product
0  Product B
1  Product D
2  Product B
3  Product A
4  Product B

In [5]:
type(df_usecols)

pandas.core.frame.DataFrame

In [6]:
df_single_col = pd.read_csv('Customer-Gender.csv')
df_single_col.head()

  CustomerGender
0         Female
1         Female
2           Male
3           Male
4         Female

In [7]:
type(df_single_col)

pandas.core.frame.DataFrame

In [8]:
data = pd.read_csv('Lending-company.csv')
df_squeeze = data.squeeze("columns")
df_squeeze.head()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [9]:
type(df_squeeze)

pandas.core.frame.DataFrame

In [10]:
data = pd.read_csv('Lending-company.csv', usecols = ['Product'])
df_squeeze = data.squeeze("columns")
df_squeeze

0       Product B
1       Product D
2       Product B
3       Product A
4       Product B
          ...
1038    Product B
1039    Product A
1040    Product A
1041    Product B
1042    Product A
Name: Product, Length: 1043, dtype: object

In [11]:
type(df_squeeze)

pandas.core.series.Series

In [12]:
df_squeeze = data.squeeze(1)
df_squeeze

0       Product B
1       Product D
2       Product B
3       Product A
4       Product B
          ...
1038    Product B
1039    Product A
1040    Product A
1041    Product B
1042    Product A
Name: Product, Length: 1043, dtype: object

In [13]:
type(df_squeeze)

pandas.core.series.Series

In [14]:
df_single_col = pd.read_csv('Customer-Gender.csv')
df_squeeze = df_single_col.squeeze("columns")
df_squeeze.head()

0    Female
1    Female
2      Male
3      Male
4    Female
Name: CustomerGender, dtype: object

In [15]:
type(df_squeeze)

pandas.core.series.Series